.a-propos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.image-container {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 10px;
  overflow: hidden;
}

.opp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column; /* Contenido debajo del botón */
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.toggle-button {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background: #ff6060;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-content {
  display: none;
  background-color: #e3e3e3;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.toggle-button.active {
  background-color: #ff4040;
}

.toggle-content.active {
  display: block;
  color: #ff6060;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .image-container {
    width: 90%;
    height: 150px;
  }

  .button-container {
    width: 90%;
    margin-bottom: 100px;
  }

  .button-wrapper {
    width: 100%;
  }

  .toggle-button {
    width: 100%;
    height: 48px;
    font-size: 16px;
  }

  .toggle-content {
    font-size: 14px;
    width: 100%;
    
  }

  .toggle-content.active {
    height: auto;
    
  }
  
}